$ocean-blue: #0070b8;
$dusk-blue: #263c97;
$pumpkin: #ef7d00;
$burple: #6442d4;
$yellowish-green: #a0d71e;
$cherry-red: #e52330;
$dark: #141428;
$battleship-grey: #6e6e78;
$light-grey-blue: #b4b4be;
$white: #ffffff;
$black: #000000;
